{% extends "Movies/base.html" %}
{% load static %}

{% block content %}

    <div id="header">
                
            
    </div>
    <div id="main">
        
        <div id="container">
            <!-- Movies will be displayed here -->
        </div>
    </div>



    <!-- {% for movie in Movies %}
    <div class="Movie_cards">
        <div class="box" id="box1" style="background-image: url('justice\ league.jpg') ;">
            <div class="movie_type">Action</div>
            <div class="rating">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
            </div>
            <div class="movie_name" id="box1pnane">{{movie.title}}</div>
            <p>Director: {{movie.director}} , Cast:{{movie.cast}}</p>
        </div>
    {% endfor %} -->
        <!-- <div class="box" style="background-image: url('The_Super_Mario.jpg');">
            <div class="movie_type">Fantasy</div>
            <div class="rating">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
            </div>
            <div class="movie_name" id="box2pnane">The Super Mario</div>
        </div>
        <div class="box" style="background-image: url('Fast\ X.jpg');">
            <div class="movie_type">Action</div>
            <div class="rating">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
            </div>
            <div class="movie_name" id="box3pnane">Fast X</div>
        </div>
        <div class="box" style="background-image: url('Thunder_Force.jpg');">
            <div class="movie_type">Action</div>
            <div class="rating">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
            </div>
            <div class="movie_name" id="box4pnane">Thunder Force</div>
        </div>
        <div class="box" style="background-image: url('Mortal\ kombat.jpg');">
            <div class="movie_type">Fantasy</div>
            <div class="rating">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
            </div>
            <div class="movie_name" id="box5pnane">Mortal Kombat</div>
        </div>
        <div class="box" style="background-image: url('The\ Courier.jpeg');">
            <div class="movie_type">Thriller</div>
            <div class="rating">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
                <img src="Vector.png" alt="">
            </div>
            <div class="movie_name" id="box6pnane">The Courier</div>
        </div>
    </div> -->
{% endblock %}